@using DivingTracker.ServiceLayer.Enums
@model DivingTracker.Web.Models.UserQualificationsModel
@{
    ViewBag.Title = ViewBag.SiteName + ": Home";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome, @Model.User.FirstName!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 headed-collection card light-background">
            <div class="row">
                <div class="col-md-12 header">
                    <h2>Your Current Qualifications</h2>
                </div>
                <div class="col-md-12 headed-item">
                    @if (!Model.QualificationsCompleted.Any())
                    {
                        <p>You don't have any qualifications (yet!)</p>
                    }
                    else
                    {
                        foreach (var qualification in Model.QualificationsCompleted)
                        {
                            <div class="row">
                                <div class="col-xs-2">
                                    <p class="@qualification.GlyphClass fa-2x fa-fw"></p>
                                </div>
                                <div class="col-xs-10">
                                    <p>@qualification.Name: @qualification.Count</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 headed-collection card light-background">
            <div class="row">
                <div class="col-md-12 header">
                    <h2>Qualifications In Progress</h2>
                </div>
                <div class="col-md-12 headed-item">
                    @if (!Model.QualificationsInProgress.Any())
                    {
                        <p>You aren't enrolled on any courses (yet!)</p>
                    }
                    else
                    {
                        foreach (var qualification in Model.QualificationsInProgress)
                        {
                            <div class="row">
                                <div class="col-xs-2">
                                    <p class="@qualification.GlyphClass fa-2x fa-fw"></p>
                                </div>
                                <div class="col-xs-10">
                                    <h3 class="popover">@qualification.Name</h3>
                                    @foreach (var module in qualification.Modules)
                                    {
                                        <div class="row open-close module-@module.ModuleId">
                                            <div class="col-md-2">
                                                <p class="toggle-detail" data-toggle="tooltip" data-placement="left" title="@module.Description">@module.Name</p>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: @module.Completeness.ToString("P")"
                                                                 aria-valuemin="0" aria-valuenow="@(module.Completeness * 100)" aria-valuemax="100"
                                                                 data-toggle="tooltip" data-placement="top" title="@module.Completeness.ToString("P0") completed"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        @if (module.Completeness == 1)
                                                        {
                                                            <i class="fas fa-check-circle text-success" style="font-size: 1.5em"></i>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row collapsible module-@module.ModuleId">
                                                    <div class="col-md-11">
                                                        @foreach (var moduleSection in module.ModuleSections)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    @if (moduleSection.Criteria.All(x => x.UserCriteria.All(y => y.CriterionStatus == CriterionStatuses.Complete)))
                                                                    {
                                                                        <i class="fas fa-check-circle text-success"></i>

                                                                    }
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <h5>@moduleSection.Name</h5>
                                                                </div>
                                                            </div>
                                                        }
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle=tooltip]').tooltip();
            $(".open-close").click(function () {
                $("div.collapsible." + this.classList[2]).slideToggle();
            });
        });
    </script>
}
