@using Humanizer
@model DivingTracker.ServiceLayer.Entities.AnswerDto
@{
    ViewBag.Title = ViewBag.SiteName + ": " + Model.AnswerText;
}

<div class="row">
    <div class="col-md-8">
        <div class="row question-header">
            <div class="col-sm-12">
                <h1 class="question">@Model.AnswerText</h1>
                <small>@Model.AnswerDescription</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Created @((DateTime.Now - Model.CreatedDate).Humanize()) ago by
                    @Html.ActionLink(Model.User.FullName, "Index", "User", new {id = Model.User.UserId}, new {@class = "user-link"}).
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                Currently used in the following questions:
                </p>
                <ul>
                    @foreach (var question in Model.Questions)
                    {
                        <li>
                            @Html.ActionLink(question.QuestionText, "Index", "Question", new {id = question.QuestionId}, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 headed-collection card light-background">
        <div class="row">
            <div class="col-md-12 header">
                <h1 style="color: white;">From the Internet:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Stuff from Wikipedia
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
        });
    </script>
}
