@model DivingTracker.Web.Models.BranchMembersModel

@{
    ViewBag.Title = ViewBag.SiteName + ": Branch Members";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userModel = Model.Users.FirstOrDefault();
}

<div class="row">
    <div class="col-md-12">
        <h1>Branch Members</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 headed-collection card light-background">
            <div class="row">
                <div class="col-md-12 card-header">
                    <h2>Divers</h2>
                </div>
                <div class="col-md-12 headed-item">
                    @foreach (var qualification in Model.DivingQualifications)
                    {
                        <div class="row">
                            <div class="col-2">
                                <p class="@qualification.GlyphClass fa-2x"></p>
                            </div>
                            <div class="col-10">
                                <p>@qualification.Name: @qualification.Count</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 headed-collection card light-background">
            <div class="row">
                <div class="col-md-12 card-header">
                    <h2>Instructors</h2>
                </div>
                <div class="col-md-12 headed-item">
                    @foreach (var qualification in Model.InstructorQualifications)
                    {
                        <div class="row">
                            <div class="col-2">
                                <p class="@qualification.GlyphClass fa-2x"></p>
                            </div>
                            <div class="col-10">
                                <p>@qualification.Name: @qualification.Count</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 headed-collection card light-background">
                    <div class="row">
                        <div class="col-md-12 card-header">
                            <h2>Members</h2>
                        </div>
                        <div class="col-md-12 headed-item">
                            <table id="Branch-members" class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => userModel.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => userModel.Surname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => userModel.DateOfBirth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => userModel.EmailAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => userModel.Role)
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new {id = item.UserId}) |
                                            @Html.ActionLink("Details", "Details", new {id = item.UserId}) |
                                            @Html.ActionLink("Delete", "Delete", new {id = item.UserId})
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#Branch-members').DataTable({
                "order": [[1, "asc"], [0, "asc"]],
                "scrollY": '60vh',
                "scrollCollapse": true,
                "searching": true,
                "paging": false
            });
        });
    </script>
}