@model DivingTracker.Web.Models.RegistrationModel

@{
    Layout = "~/Views/Shared/_External.cshtml";
}

<div class="row">
    <div class="col-xs-12 brand-name">
        <p>
            <h2>Register</h2>
        </p>
    </div>
</div>
@using (Html.BeginForm("Register", "Authentication", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "control-label col-xs-3" })
        <div class="col-xs-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"> </i></span>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name" })
            </div>
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "help-block label label-danger pull-right" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname, new { @class = "control-label col-xs-3" })
        <div class="col-xs-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book-o"> </i></span>
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "Surname" })
            </div>
            @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "help-block label label-danger pull-right" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(x => x.DateOfBirth, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                <div id="date-of-birth" class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"> </i></span>
                    @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", placeholder = "Date of Birth" })
                    <span class="input-group-addon"><i class="fa fa-calendar"> </i></span>
                </div>
                @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "help-block label label-danger pull-right" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                </div>
                @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "help-block label label-danger pull-right" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                </div>
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "help-block label label-danger pull-right" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.PasswordConfirmation, new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                    @Html.TextBoxFor(x => x.PasswordConfirmation, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                </div>
                @Html.ValidationMessageFor(x => x.PasswordConfirmation, "", new { @class = "help-block label label-danger pull-right" })
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        <div class="pull-left">
            <p class="align-anchor-with-buttons">Already registered? @Html.ActionLink("Login", "Login", "Authentication", null) here.</p>
        </div>
}

@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#date-of-birth').datetimepicker({
                format: 'L',
                locale: 'en-gb'
            });
        });
    </script>
}
