@model DivingTracker.ServiceLayer.Entities.AnswerDto

@Html.HiddenFor(x => x.AnswerId)
@Html.HiddenFor(x => x.UserId)
@Html.HiddenFor(x => x.QuestionId)

<div class="form-group">
    @Html.LabelFor(x => x.AnswerText, "Answer", new {@class = "col-md-3 control-label"})
    <div class="col-md-9">
        @Html.TextBoxFor(x => x.AnswerText, new {@class = "form-control", placeholder = "What's your answer?"})
        @Html.ValidationMessageFor(x => x.AnswerText, "", new {@class = "help-block label label-danger pull-right"})
    </div>
</div>
@Html.HiddenFor(x => x.ResourceIdentifier)
<div class="form-group">
    @Html.LabelFor(x => x.AnswerDescription, "Description", new {@class = "col-md-3 control-label"})
    <div class="col-md-9">
        @Html.TextBoxFor(x => x.AnswerDescription, new {@class = "form-control", placeholder = "Add some context"})
        @Html.ValidationMessageFor(x => x.AnswerDescription, "", new {@class = "help-block label label-danger pull-right"})
    </div>
</div>
<div id="wikipedia-search-results"></div>
<div id="wikipedia-page-container" class="col-sm-12">
    <h3>From Wikipedia:</h3>
    <div id="wikipedia-page"></div>
</div>
<script>
    (function($) {
        $('#AnswerText').keyup(function() {
            $.ajax({
                    url: '/Ajax/SearchWikipedia?query=' + $(this)[0].value,
                    type: 'GET',
                    cache: false
                })
                .done(function(data) {
                    $('#wikipedia-search-results').html(data.html);
                });
        });
    })(jQuery);
</script>