@using System.Collections.ObjectModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="container external-container">
                <div class="card col-md-offset-3 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 brand-name">
                            <p>
                                <h1>@ViewBag.SiteName</h1>
                            </p>
                        </div>
                    </div>
                    @{
                        var messages = (Collection<string>)ViewBag.Messages;
                    }
                    @if (messages != null && messages.Any())
                    {
                        <div class="col-md-12 alert alert-info">
                            @foreach (var message in messages)
                            {
                                <p>message</p>
                            }
                        </div>
                    }
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="col-md-12">
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("Scripts", required: false)
</body>
</html>
