@using DivingTracker.ServiceLayer
@using DivingTracker.ServiceLayer.Enums
<nav class="navbar navbar-expand-md navbar-inverse">
    <div class="container">
        <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand">
            <img class="scubee-logo-nav" src="/Content/images/scubee-musac-logo.jpg" />
        </a>
        <button type="button" class="navbar-toggler collapse" data-toggle="navbarCollapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">"Toggle navigation"</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Details", "Members", new {area = "", id = ViewBag.CurrentUserId})">
                        <i class="fas fa-user fa fa-fw"></i><span>My Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Info", "Home", new {area = ""})">
                        <i class="fas fa-info fa fa-fw"></i><span>Useful Info</span>
                    </a>
                </li>

                @if ((ViewBag.CurrentUser as User).SystemRoleId > (int)SystemRoles.Student)
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Members", new {area = ""})">
                            <i class="fas fa-users fa fa-fw"></i><span>Branch Members</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Training", new {area = ""})">
                            <i class="fas fa-chalkboard-teacher fa fa-fw"></i><span>Training</span>
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a href="@Url.Action("Logout", "Authentication", new {area = ""})" class="sublink">
                        <i class="fas fa-sign-out-alt fa fa-fw"></i><span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<br />