@model DivingTracker.Web.Models.TrainingModuleModel

@{
    var module = Model.Module;
}
<table class="table user-qualifications">
    <thead>
        <tr>
            <th class="module-header">
                <h2>@Model.Module.Name</h2>
                <span class="open-close module-@Model.Module.ModuleId">(Click to open/close)</span>
            </th>
            @foreach (var user in Model.Users)
            {
                <th class="user-name module-@Model.Module.ModuleId">
                    <p>@user.Name</p>
                </th>
            }
        </tr>
    </thead>
</table>

<div id="module-@module.ModuleId" class="module-table">
    <table id="module-@module.ModuleId" class="table user-qualifications">
        <tbody id="module-@module.ModuleId">
            @foreach (var moduleSection in module.ModuleSections)
            {
                <tr>
                    <td colspan="@(Model.Users.Length + 1) training-status">
                        <h3>@moduleSection.Name</h3>
                    </td>
                </tr>

                foreach (var criterion in moduleSection.Criteria)
                {
                    <tr>
                        <td class="module-header">
                            @criterion.Description
                        </td>
                        @foreach (var user in Model.Users)
                        {
                            var userData = criterion.UserCriteria.FirstOrDefault(x => x.User.UserId == user.UserId && x.CriterionId == criterion.CriterionId);

                            <td class="training-status">
                                @if (userData != null)
                                {
                                    <i class="@userData.CriterionStatusGlyph"></i>
                                }
                                else
                                {
                                    <text>&nbsp;</text>
                                }
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
